@import './utils/variables';
@import './utils/global';

@import './components/header';
@import './components/footer';

@import './views/index';
@import './views/backlog';
@import './views/contacto';

/* Mobile first*/
.main{
  height: 1000px;
  
  &__titulo{
    color: white;
    font-family: $letra;
    text-align: center; padding: 10px;
  }

}

/* Desktop */
@media(min-width: $bpLarge){

  .dropdown{
  display: none;
  }

  .form-select{
    width: 60%;
    margin: auto; margin-bottom: 40px;
  }

  .main{
  
    height: 1200px;

    &__titulo{
      padding: 50px;
    }

  }

}