@import './utils/variables';
@import './utils/global';

@import './views/index';

@import './components/header';
@import './components/footer';

.form-select{
  margin-bottom: 40px;
  width: 310px;
}
.main__titulo__wcwp{
  color: white;
  font-family: $letra;
  text-align: center; padding: 10px;
}
.backlog__main__container{
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.contacto__label__color{
  color: white;
}
/* Mobile first*/

@media(min-width: $bpLarge){

  .dropdown{
  display: none;
  }
  .form-select{
    width: 100%;
  }
  .main__titulo__wcwp{
    padding: 50px;
  }
  .contacto__label__color{
    color: white;
  }
  .backlog__main__container{
    color: white;
    text-align: center;
  }

}