@import '../utils/variables';

.footer{
    &__container{
      display: flex;
      justify-content: space-between; align-items: center;

        &--twitter{
          text-decoration: none;
          color: white; font-size: 15px;
          font-family: $letra;
          margin: 0; padding: 15px;
        }

        &--mail{
          color: white; font-size: 15px;
          font-family: $letra;
          margin: 0; padding: 15px;
        }
    }
}

@media(min-width: $bpLarge){

  .footer__container{
    display: none;
  }

  .footer{
    background-color: black;
    max-width: 1200px; margin: auto;

      &__container{
        display: flex;
        justify-content: space-between; align-items: center;

        &--twitter{
          text-decoration: none;
          color: white; font-size: 25px;
          font-family: $letra;
          margin: 0; padding: 25px;
        }
  
        &--mail{
          color: white; font-size: 25px;
          font-family: $letra;
          margin: 0; padding: 25px;
        }

      }

  }
}